.App{
  position: relative;
  display: flex;
  margin: auto;
}

.header{
  position: relative;
  display: flex;
  background-color: #28a661;
  width: 20rem;
  height: 4rem;
  color: white;
}

.options{
  margin-top: 1rem;
  border: 1px solid #28a62e;
  display: flex;
  flex-direction: column;
}

.bar{
  margin-bottom: 1rem;
  width: 90%;
}

.barra{
  width: 10%;
  height: 1rem;
  background-color: #1bcc38;
}

.add{
  padding: 1rem;
  margin-top: 1rem;
  background-color: #28a633;
  display: flex;
  align-items: center;
}

.input{
  width: 90%;
}

.button{
  margin-top: 1rem;
  width: 90%;
  height: 4rem;
  border: none;
  background-color: white  ;
  color:#56ca56;
  font-weight: 700;
}